body {
    margin: 0;
    padding: 0;
}


header {
    display: flex;
    justify-content: center;
    background-color: antiquewhite;
    padding: 1rem;
}

.image {
    display: flex;
    width: 250px;
    height: auto;
    border: solid;
}

.nameDate {
  padding: 14px;
}
.reason {
    background-color:rgba(187, 187, 187, 0.603);
    margin-left: 4px;
    padding: .5rem .5rem 1.5rem .5rem;
    list-style-type: circle;

}

.intro {
    background-color: palegreen;
}

.intro-header {
    background-color: bisque;
    padding: 20px;
    margin: 10px;
    
}